body {
    background-color:#eee;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    color: red;
}

.heading {
    color: black;
}

.image {
    border-radius: 100px;
}

.seaction {
    background-color: pink;
    margin: 30px;
    padding: 30px;
    color: white;
}